SEED = 14
TICK = 100 # milliseconds
POPULATION = 10 # initial population
PAUSE_ON_CLOSE = true

###############
# ENVIRONMENT #
###############

# only other option is TestEnvironment
ENV_TYPE = RandomFoodEnvironment
# RFE only: energy given per unit food.
ENV_FOOD = 1.0

############
# GENETICS #
############

##########
# ENERGY #
##########