#####################
# SIMULATION CONFIG #
#####################

# milliseconds
TICK = 100
# initial population
POPULATION = 2
CHUNK_SIZE = 20
DT_TIMESTEP = 0.1
# how many frames elapse between 'cleaning up' empty chunks
CLEANUP_EVERY = 1

#################
# UI + GRAPHICS #
#################

# whether to pause when window goes out of focus
PAUSE_ON_CLOSE = false
CAMERA_SENSETIVITY_PAN = 2.0
CAMERA_SENSETIVITY_ZOOM = 0.5

CIRCLE_SUBDIVISIONS = 30
ATTACK_SPIKES = 10
# "radius" in world-coordinates of the kite
KITE_SIZE = 2.0
# multiplier effect of speed on the kite's tail
KITE_TAIL = 0.2

###############
# ENVIRONMENT #
###############

SEED = 14
FRICTION = 0.1
VISCOSITY = 0.0

ENV_TYPE = TimeVaryingRFE
PERLIN_OCTAVES = 2
PERLIN_SCALE = 400.0
PERLIN_TAPER = 1000.0
FADE_PERIOD = 2000

# RFE only: energy given per unit food.
ENV_FOOD = 0.2

############
# GENETICS #
############

METAMUTATION = 0.001

DUMBER_MUT_ADD_NEURON = 0.001
DUMBER_MUT_DEL_NEURON = 0.001
DUMBER_MUT_ALTER_CONNECTION = 0.007
DUMBER_MUT_ALTER_THRESHOLD = 0.0
DUMBER_MUT_ALTER_REST = 0.0
DUMBER_MUT_ALTER_DECAY = 0.0
DUMBER_MUT_ALTER_SIGMOID = 0.0

MATRIX_MUT_ADD_NEURON = 0.001
MATRIX_MUT_DEL_NEURON = 0.001
MATRIX_MUT_ALTER_CONNECTION = 0.01
MATRIX_MUT_ALTER_CONNECTION_CHANCE = 0.2

#############
# ORGANISMS #
#############

BRAIN_TYPE = MatrixBrain
INIT_ENERGY = 1.0
FEEDING_CURVATURE = 0.7
ENERGY_CAP = 10
AGING_LATENCY = 500
AGING_SPEED = 0.002

# Tuning SimpleCircleOrganism

SCO_MASS = 5.0
SCO_EFFECT_RANGE = 10.0
SCO_ENERGY_ON_DEATH = 1.0
SCO_FOOD_SHARE_RANGE = 10

# Energy/Strength constants for actions

ACT_POWER_PER_OOMPH = 1.0
ACT_STRENGTH_PER_OOMPH = 0.7

ACT_POWER_PER_TURN = 0.2
ACT_STRENGTH_PER_TURN = 1.2

ACT_POWER_PER_CHATTER = 0.01
ACT_CHATTER_RANGE = 50
ACT_POWER_PER_ATTACK = 0.2
ACT_MITOSIS_THRESHOLD = 0.95
ACT_MITOSIS_RATE = 0.1
ACT_MITOSIS_AGE_CONSTANT = 0.01

# Action strengths.
#SCO_OOMPH_STRENGTH = 1.5
#SCO_TURN_STRENGTH = 0.5
#SCO_CHATTER_STRENGTH = 1
SCO_ATTACK_STRENGTH = 1

# Sense sensitivities.
SCO_SPEED_SENSITIVITY = 1
SCO_TURN_SENSITIVITY = 1
SCO_LISTEN_SENSITIVITY = 1
SCO_ENERGY_SENSITIVITY = 1
SCO_TOUCH_SENSITIVITY = 1
SCO_PAIN_SENSITIVITY = 1
SCO_FOOD_SENSITIVITY = 1

## VeryTinyCar

VTC_MASS = 1.0
VTC_FWD_RESIST = 0.5
VTC_REV_RESIST = 2.0

##########
# BRAINS #
##########

# DumbBrain

DUMB_UPKEEP = 0.005
DUMB_FIRE = 0.005

# DumberBrain

DUMBER_UPKEEP = 0.005
DUMBER_FIRE = 0.005


# DumbestBrain

DUMBEST_UPKEEP = 0.01
DUMBEST_FIRE = 0.01
DUMBEST_TEMPERMENT = 1.0

# MatrixBrain
MATRIX_UPKEEP = 0.005
MATRIX_FIRE = 0.005
